<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    </head>

    <body>
        <h1>My personal Cookbook</h1>
        <div class="container">
            
        {{#each RecipeData as |Data|}}
            
            <div class="row">
                <div id='{{Data.name}}' class="col-sm allNames">
               
                    <h3 class="name">{{Data.name}}</h3>
                </div>
                <div class="col-sm">
                    <h3  class="ingredients" style="display: none;">{{Data.ingredients}}</h3>
                    <h3  class="instructions"  style="display: none;">{{Data.instructions}}</h3>
                    <img  class="image" style="display: none;" src="{{Data.image}}">
                </div>
            </div>
        {{/each}}
        </div>
    </body>
</html>


<script rel="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/DisplayCookBook.js"></script>